extends layout
include _includes/sharedHTMLfunctions

block content
  #banner.page-header.text-center
    .row
      .col-lg-12
        h1= pageHeader.title
        p.lead &nbsp;#{pageHeader.strapline}

  .container.mt-5
    .row
      .col-md-8
        .row
          each location in locations
            .col-sm-12.mb-4
              .card.shadow-sm
                .card-body
                  h4.card-title.mb-2
                    a(href="/locations")= location.name
                  p.text-muted.mb-1
                    outputRating(location.rating)
                    span.badge.badge-secondary.float-right= location.distance
                  
                  p.mb-3.address= location.address
                  
                  p.mb-0
                    each facility in location.facilities
                      span.badge.badge-warning.mr-2= facility

      .col-md-4
       
